---
import Layout from "../layouts/gameclublayout.astro"
---

<Layout title="card">
	
	<canvas id="scene" style="position: absolute;"></canvas>
	
	<div style="display: flex; background-color: white; height: 100%; width: 30%; position: absolute;">
		<div>
		<p style="color: black;">hello
		</div>
	</div>
	
</Layout>