---
import Layout from "../layouts/layout.astro"
---
<html style="height: 100%;">
<Layout title="gameclub">
	<div style="display: flex; background-color: blue; height: 100%; width: 30%;">
		<div>
		hello
		</div>
	</div>
	
</Layout>
</html>