---
import Layout from "../layouts/layout.astro"
---

<Layout title="gameclub">
	<div>
		
		<p/>
		
		<div style="width: 100%; position: absolute; top: 80px;">
			<div style="display: flex; justify-content: center; align-items: center">
				<a href="/">
					<img class="logo" src="/logov2.png" style=" width: 400px;">
					</a>
			</div>
			
			<div style="width: 100%; padding-top: 30px">
				<nav style="justify-content: center; align-items: center;">
					<a href="/members/" class="members" style="color: #33FF44;">members</a>
					<a href="/about/" class="about">about</a> 
					<a href="/error/" class="gameclub">game club</a>
				</nav>
			</div>
			
		</div>
		
	</div>
	
</Layout>