---
import Layout from "../layouts/gameclublayout.astro";
import Card from "../components/card.astro";
import games from "../../games.json";
---

<Layout title="gameclub">
    <div class="projcard-container">
        {games.map(game => <Card {...game} />)}
    </div>
    <div style="display: flex; background-color: #333; height: 100%; width: 30%; position: absolute;">
        <div>
            <p style="color: black;">hello</p>
        </div>
    </div>
</Layout>

