---
import Layout from "../layouts/gameclublayout.astro"
---

<Layout title="gameclub">
	<div style="display: flex; background-color: blue; height: 100%; width: 30%;">
		<div>
		hello
		</div>
	</div>
	
</Layout>