---
import Layout from "../../layouts/gameclublayout.astro";
import Card from "../../components/card.astro";
import EmailForm from "../../components/email-form.svelte";
const games = await Astro.glob("../../content/games/*.md");
games.sort((a, b) => (b.frontmatter.subtitle && a.frontmatter.subtitle ? b.frontmatter.subtitle.localeCompare(a.frontmatter.subtitle) : null));
---

<Layout title="about">
    <div style="padding-bottom: 50px;">
        <div style="margin-bottom: 50px;">
            <div class="card-wrapper">
                <div class="topgraphicbox">
                    <div class="gamebox">
                        <div class="infopagehead"><img src="/about.png" style="margin-bottom: -25px;" /></div>
                        <div class="abouttext" style="padding-top: 0px; padding-bottom: 10px; width: 90%; margin: auto;">
                            <p class="sub" style="text-align: center; color: #bbb">
                                The Computer Guild Game Club™ was founded in 2023 by The Computer Guild ®
                            </p>
                            <EmailForm client:load />
                            <img src="/about/mission.png" class="aboutimg" />
                            <p style="text-align: justify;">
                                The Computer Guild Game Club's mission is to learn, grow, and gain experience through the entertainment of video
                                games.
                            </p>
                            <img src="/about/what-we-do.png" class="aboutimg" />
                            <p style="text-align: justify;">
                                The Computer Guild Game Club's mission is to learn, grow, and gain experience through the entertainment of video
                                games.
                            </p>
                            <img src="/about/how-we-do-it.png" class="aboutimg" />
                            <p style="text-align: justify;">
                                The Computer Guild Game Club's mission is to learn, grow, and gain experience through the entertainment of video
                                games.
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</Layout>

<style>

    .container {
        width: 300px;
        height: 300px;
        margin: auto;
    }

    .login_bar {
        width: 300px;
        height: 50px;
        background: white;
        border-radius: 10px;
        top: 0;
        position: relative;
        z-index: 1;
        overflow: hidden;
    }

    .login {
        background: transparent;
        position: absolute;
        height: 100%;
        width: 190px;
        padding-left: 10px;
        text-align: left;
        line-height: 50px;
        vertical-align: middle;
        z-index: 10;
        -webkit-transition: transform 0.2s ease-in-out 0s;
        -moz-transition: transform 0.2s ease-in-out 0s;
        -o-transition: transform 0.2s ease-in-out 0s;
        transition: transform 0.2s ease-in-out 0s;
    }

    .login_active {
        -webkit-transform: translateX(300px);
        -moz-transform: translateX(300px);
        -ms-transform: translateX(300px);
        -o-transform: translateX(300px);
        transform: translateX(300px);
    }

    .thanks {
        background: transparent;
        height: 100%;
        width: 300px;
        z-index: 5;
        text-align: left;
        line-height: 50px;
        vertical-align: middle;
        padding-left: 10px;
        position: absolute;
        top: 50px;
        display: inline-block;
        -webkit-transition: transform 0.5s ease 0s;
        -moz-transition: transform 0.5s ease 0s;
        -o-transition: transform 0.5s ease 0s;
        transition: transform 0.5s ease 0s;
    }

    .thanks_active {
        -webkit-transform: translateY(-50px);
        -moz-transform: translateY(-50px);
        -ms-transform: translateY(-50px);
        -o-transform: translateY(-50px);
        transform: translateY(-50px);
    }
</style>
