---
import Layout from "../../layouts/gameclublayout.astro";
import Card from "../../components/card.astro";
const games = await Astro.glob("../../content/games/*.md");
games.sort((a, b) => (b.frontmatter.subtitle && a.frontmatter.subtitle ? b.frontmatter.subtitle.localeCompare(a.frontmatter.subtitle) : null));
---

<Layout title="about">
   
   <div style="padding-bottom: 50px;">
       <div style="margin-bottom: 50px;">
           <div class="card-wrapper">
               <div class="topgraphicbox">
                   <div class="gamebox">
                       <div class="infopagehead"><img src="/about.png" style=""></div>
                       <div class="abouttext" style="padding-top: 10px; padding-bottom: 10px; width: 90%; margin: auto;">
                           <p style="text-align: center; color: #bbb">The Computer Guild Game Club™ was founded in 2023 by The Computer Guild ®</p>
                           <p style="text-align: justify;;">The Computer Guild Game Club's mission is to learn, grow, and gain experience through the entertainment of video games.</p> 
                       </div>
                   </div>
                </div>
            </div>
        </div>
    </div>
</Layout>
