---
import Layout from "../../layouts/gameclublayout.astro";
---

<Layout title="about">
    <div style="padding-bottom: 50px;">
        <div style="margin-bottom: 50px;">
            <div class="card-wrapper">
                <div class="topgraphicbox">
                    <div class="gamebox">
                        <div class="infopagehead"><img src="/about.png" style="margin-bottom: -25px;" /></div>
                        <div class="abouttext" style="padding-top: 0px; padding-bottom: 10px; width: 90%; margin: auto;">
                            <p class="sub" style="text-align: center; color: #bbb">
                                The Computer Guild GameClub™ was founded in 2023 by The Computer Guild ®
                            </p>
                            <img src="/about/mission.png" class="aboutimg" />
                            <p style="text-align: justify;">
                                The Computer Guild GameClub™’s mission is to learn, grow, and gain experience through the entertainment of video games and bolster the Computer Guild®’s culture.
                            </p>
                            <img src="/about/what-we-do.png" class="aboutimg" />
                            <p style="text-align: justify;">
                                At a pace unknown even to its members, two video games will be suggested by each participant to be played during the next round of GameClub. Once all suggestions have been made, the club holds a meeting and discusses which game will be played next. After long and arduous discussion, one game will be selected and the others banished. The selected game will be played by each member until they have all completed or decided they are finished with it.<br>
                                <sub>A keen GameClub fan's eye may notice round numbers that end in “.5”. These are games that were suggested at the same time as the round before it and were so tempting that the club decided to enjoy them as well.</sub>
                            </p>
                            <img src="/about/how-we-do-it.png" class="aboutimg" />
                            <p style="text-align: justify;">
                                Once all members are finished with the round’s selected game, a club meeting is held to discuss. After discussion, each member awards the game an amount of ‘stars’ from 1-5 representing the quality of the game in that member’s opinion (no half points). A review is written by a member of the club and results will be posted online to the GameClub homepage. Please note at the time of writing, there are four (4) members of GameClub, but only three (3) play and discuss the game. The last member, Brandon abstains from the video games themselves and instead subjects himself to each selected game’s original soundtrack or (OST). At the bottom of each GameClub Review, Brandon shares his thoughts on the game’s music. <br><br>
                                
                                Before reading a review, it is recommended that you visit the <a href="/gameclub/members" style="color: yellow; text-decoration: none;"> Members page</a> for more info on each member of The Computer Guild GameClub™ and to see what sort of games they prefer.
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</Layout>