---
import Layout from "../../layouts/gameclublayout.astro";
import Card from "../../components/card.astro";
import EmailForm from "../../components/email-form.svelte";
const games = await Astro.glob("../../content/games/*.md");
games.sort((a, b) => (b.frontmatter.subtitle && a.frontmatter.subtitle ? b.frontmatter.subtitle.localeCompare(a.frontmatter.subtitle) : null));
---

<Layout title="contact">
    <div style="padding-bottom: 50px;">
        <div style="margin-bottom: 50px;">
            <div class="card-wrapper">
                <div class="topgraphicbox">
                    <div class="gamebox">
                        <div class="infopagehead"><img src="/contact.png" style="margin-bottom: -25px;" /></div>
                        <div class="abouttext" style="padding-top: 0px; padding-bottom: 10px; width: 90%; margin: auto;">
                            <br>
                            <img src="/about/subscribe.png" class="aboutimg" />
                            <p style="text-align: center;">
                                Enter your email in the box below and GameClub will send you updates whenever we post new things on the website!
                                <div style="text-align: center;"><sub>Subscribe for email updates!</sub></div>
                                <EmailForm client:load /><br>
                                <img src="/about/email.png" class="aboutimg" />
                                <p style="text-align: center;">
                                    Got a question, comment, or concern? Click the mail icon below to send us an email!<br><br>
                                    <a href="mailto:gameclub@guild.computer"><img src="/gccontact.png" class="email"></a>
                            </p></p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</Layout>