---
import Layout from "../../layouts/gameclublayout.astro";
import Card from "../../components/card.astro";
import games from "../../../games.json";
---

<Layout title="gameclub">
    <div style="margin-right: 500px;">
    <div class="projcard-container" style="display: flex; flex-direction: column; flex-shrink: 3; margin-left: 450px;">
        {games.map(game => <Card {...game} />)}
    </div>
    </div>
</Layout>

