---
import Layout from "../../layouts/gameclublayout.astro";
import Card from "../../components/card.astro";
const games = await Astro.glob("../../content/games/*.md");
games.sort((a, b) => (b.frontmatter.subtitle && a.frontmatter.subtitle ? b.frontmatter.subtitle.localeCompare(a.frontmatter.subtitle) : null));
---

<Layout title="gameclub">
    <div class="topcardbox">
        <div class="projcard-container" style="">
            {games.map(game => <Card {...game} />)}
        </div>
    </div>
</Layout>
