---
import Layout from "../../layouts/gameclublayout.astro";
import Card from "../../components/card.astro";
import games from "../../../games.json";
---

<Layout title="gameclub">
    <div class="projcard-container" style="display: flex;">
        {games.map(game => <Card {...game} />)}
    </div>
</Layout>

