html {
  height: 100%;
  scroll-behavior: smooth;
}

body {
  color: #333;
  background: #333;
  font-size: 15px;
  font-family: helvetica;
  color: #ffffff;
  margin:0px;
  height: 100%;
  width: 100%;
  padding: 0;
  overflow: scroll;
}

nav {
  font-family: "VT323", sans-serif;
  font-size: 22px;
  display: flex;
  gap: 30px;
}

nav a {
  text-decoration: none;
  color: #333;
  underline: none;
}

h1 {
  font-family: "VT323", sans-serif;
  font-size: 30px;
}

h2 {
  font-family: "VT323", sans-serif;
  font-size: 18px;
}

p {
  font-family: 'Bricolage Grotesque', sans-serif;
}

li {
  margin-bottom: -10px;
}

sub {
  color: #999;
  margin-top: -10px;
  line-height: 5px;
}

.members {
}

.members:hover {
  color: #33FF44;
}

.about {
}

.about:hover {
  color: #EEFF33;
}

.gameclub {
}

.gameclub:hover {
  color: #FF3333;
}

.errormsg:hover {
  color: white;
  background-color: red;
}

.member {
  display: block;
  padding-top: 380px;
  padding-left: 30px;
  height: 10%;
}

.gameinfo .title {
  font-size: 50px;
  line-height: 40px;
}

.gameinfo h5 {
  font-family: "VT323", sans-serif;
  font-size: 25px;
  text-decoration: none;
  margin-top: 20px;
  margin-bottom: 0px;
}

.gameinfo p {
  line-height: 20px;
}

.gameinfo a {
  color: yellow;
  text-decoration: none;
}

.reviewsplit img {
  width: 100%;
  border-radius: 10px;
}

.reviewlogo img {
  margin-left: 25%;
  width: 50%;
}

/* GAMECLUB CARD CODE: */
/* GAMECLUB CARD CODE: */
/* GAMECLUB CARD CODE: */

.projcard {
  position: relative;
  width: 100%;
  height: 300px;
  margin-bottom: 40px;
  border-radius: 10px;
  background-color: #333;
  border: 2px solid #333;
  font-size: 18px;
  overflow: hidden;
  cursor: pointer;
  box-shadow: 0 4px 21px -12px rgba(0, 0, 0, .66);
  transition: box-shadow 0.2s ease, transform 0.2s ease;
}
.projcard:hover {
  box-shadow: 0 34px 32px -33px rgba(0, 0, 0, .18);
  transform: translate(0px, -3px);
}
.projcard::before {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-image: linear-gradient(-70deg, #424242, transparent 50%);
  opacity: 0.07;
}
.projcard:nth-child(2n)::before {
  background-image: linear-gradient(-250deg, #424242, transparent 50%);
}
.projcard-innerbox {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}
.projcard-img {
  position: absolute;
  height: 300px;
  width: 400px;
  top: 0;
  left: 0;
  transition: transform 0.2s ease;
}
.projcard:nth-child(2n) .projcard-img {
  left: initial;
  right: 0;
}
.projcard:hover .projcard-img {
  transform: scale(1.05) rotate(1deg);
}
.projcard:hover .projcard-bar {
  width: 70px;
}
.projcard-textbox {
  position: absolute;
  top: 7%;
  bottom: 7%;
  left: 430px;
  width: calc(100% - 470px);
  font-size: 17px;
}
.projcard:nth-child(2n) .projcard-textbox {
  left: initial;
  right: 430px;
}
.projcard-textbox::before,
.projcard-textbox::after {
  content: "";
  position: absolute;
  display: block;
  background: #ff0000bb;
  background: #333;
  top: -20%;
  left: -55px;
  height: 140%;
  width: 60px;
  transform: rotate(8deg);
}
.projcard:nth-child(2n) .projcard-textbox::before {
  display: none;
}
.projcard-textbox::after {
  display: none;
  left: initial;
  right: -55px;
}
.projcard:nth-child(2n) .projcard-textbox::after {
  display: block;
}
.projcard-textbox * {
  position: relative;
}
.projcard-title {
  font-size: 35px;
  color: #fff;
  font-family: "VT323", sans-serif;
}
.projcard-subtitle {
  font-family: 'Voces', 'Open Sans', arial, sans-serif;
  color: #888;
  font-family: "VT323", sans-serif;
  font-size: 25px;
}
.projcard-bar {
  left: -2px;
  width: 50px;
  height: 5px;
  margin: 10px 0;
  border-radius: 5px;
  background-color: #424242;
  transition: width 0.2s ease;
}
.projcard-blue .projcard-bar { background-color: #0088FF; }
.projcard-blue::before { background-image: linear-gradient(-70deg, #333, transparent 70%); }
.projcard-blue:nth-child(2n)::before { background-image: linear-gradient(-250deg, #333, transparent 50%); }
.projcard-red .projcard-bar { background-color: #D62F1F; }
.projcard-red::before { background-image: linear-gradient(-70deg, #D62F1F, transparent 50%); }
.projcard-red:nth-child(2n)::before { background-image: linear-gradient(-250deg, #D62F1F, transparent 50%); }
.projcard-green .projcard-bar { background-color: #40BD00; }
.projcard-green::before { background-image: linear-gradient(-70deg, #40BD00, transparent 50%); }
.projcard-green:nth-child(2n)::before { background-image: linear-gradient(-250deg, #40BD00, transparent 50%); }
.projcard-yellow .projcard-bar { background-color: #F5AF41; }
.projcard-yellow::before { background-image: linear-gradient(-70deg, #F5AF41, transparent 50%); }
.projcard-yellow:nth-child(2n)::before { background-image: linear-gradient(-250deg, #F5AF41, transparent 50%); }
.projcard-orange .projcard-bar { background-color: #FF5722; }
.projcard-orange::before { background-image: linear-gradient(-70deg, #FF5722, transparent 50%); }
.projcard-orange:nth-child(2n)::before { background-image: linear-gradient(-250deg, #FF5722, transparent 50%); }
.projcard-brown .projcard-bar { background-color: #C49863; }
.projcard-brown::before { background-image: linear-gradient(-70deg, #C49863, transparent 50%); }
.projcard-brown:nth-child(2n)::before { background-image: linear-gradient(-250deg, #C49863, transparent 50%); }
.projcard-grey .projcard-bar { background-color: #424242; }
.projcard-grey::before { background-image: linear-gradient(-70deg, #424242, transparent 50%); }
.projcard-grey:nth-child(2n)::before { background-image: linear-gradient(-250deg, #424242, transparent 50%); }
.projcard-customcolor .projcard-bar { background-color: var(--projcard-color); }
.projcard-customcolor::before { background-image: linear-gradient(-70deg, var(--projcard-color), transparent 50%); }
.projcard-customcolor:nth-child(2n)::before { background-image: linear-gradient(-250deg, var(--projcard-color), transparent 50%); }
.projcard-description {
  z-index: 10;
  font-size: 16px;
  color: #ccc;
  height: 125px;
  overflow: hidden;
  text-overflow: ellipsis;
  font-family: 'Bricolage Grotesque', sans-serif;
}
.projcard-tagbox {
  position: absolute;
  bottom: 3%;
  font-size: 14px;
  cursor: default;
  user-select: none;
  pointer-events: none;
}
.projcard-tag {
  display: inline-block;
  background: #aaa;
  color: #333;
  border-radius: 3px 0 0 3px;
  line-height: 26px;
  padding: 0 10px 0 23px;
  position: relative;
  margin-right: 20px;
  margin-bottom: 5px;
  cursor: default;
  user-select: none;
  transition: color 0.2s;
}
.projcard-tag::before {
  content: '';
  position: absolute;
  background: #333;
  border-radius: 10px;
  box-shadow: inset 0 1px rgba(0, 0, 0, 0.25);
  height: 6px;
  left: 10px;
  width: 6px;
  top: 10px;
}
.projcard-tag::after {
  content: '';
  position: absolute;
  border-bottom: 13px solid transparent;
  border-left: 10px solid #aaa;
  border-top: 13px solid transparent;
  right: -10px;
  top: 0;
}

/* END GAMECLUB CARD CODE: */
/* END GAMECLUB CARD CODE: */
/* END GAMECLUB CARD CODE: */


@media only screen and (min-width: 1024px) {
  
  li {
    line-height: 40px;
  }
  
.title {
  font-family: "VT323", sans-serif;
  font-size: 30px;
  padding-top: 20px;
}
.navbar {
  background-color: #333;
  position: fixed;
  overflow: visible;
  top: 0;
  height: 100%;
  width: 400px;
  z-index: 1000
}

.gclogo {
overflow: hide;
width: 350px;
margin-left: 25px; 
margin-top: 50px;
background-image: url('/gclogo2.png');
background-size: contain;
background-repeat: no-repeat;
}

.gclogo  img {
    -webkit-transition: all ease 1s;
    -moz-transition: all ease 1s;
    -o-transition: all ease 1s;
    -ms-transition: all ease 1s;
    transition: all ease 1s;
}

.gclogo img:hover {
    opacity:0;
}

.gclogoimg {
  width: 100%;
}

 .projcard-container {
   margin: 50px 0;
   float: left;
 }
 
 .projcard-container,
 .projcard-container * {
   box-sizing: border-box;
 }
 .projcard-container {
   margin-left: auto;
   margin-right: auto;
   width: 100%;
   display: flex; 
   flex-direction: column; 
   margin-left: 450px;
   flex-shrink: 3;
 }
 .topcardbox {
   margin-right: 800px;
   /* THIS IS FOR FULL LENGTH CARDS
   margin-right: 500px; */
 }
 
 .topgraphicbox {
    margin-left: 500px;
    margin-right: 25%;
  }
  
 .gamebox {
   position: relative; 
   display: flex;
   flex-direction: column;
   height: auto; 
   width: 100%; 
   top: 55px; 
   margin-left: auto;
   border-radius: 15px; 
   background-color: #333;
   margin-bottom: 50px;
 }
 
 .gameinfo {
   padding-top: 5px; 
   padding-bottom: 20px; 
   width: 90%; 
   margin: auto; 
   overflow: visible; 
   overflow-wrap: break-word;
 }
 
 .gamegraphic img {
   width: 102%; 
   border-radius: 15px;
   margin-left: -7px;
 }
  
  .gcabout {
       width: 130px;
       margin-left: 60px;
       margin-top: 30px;
    transition: all .4s ease-in-out;
   }
 
 .gcabout img {
   width: 130px;
   padding-left: 0px;
 }
 
  .gcabout:hover {
    transform-origin: center;
    transform: scale(95%);
    margin: 30px 10px 20px 60px;
    filter: brightness(0.7);
  }
   
   .gcmembers {
     transition: all .4s ease-in-out;
     width: 130px;
     padding-top: 10px;
     margin-left: 180px;
     }
 
 .gcmembers img {
    width: 130px;
  }
  
   .gcmembers:hover {
     transform-origin: center;
     transform: scale(95%);
     margin: 20px 10px 20px 180px;
     filter: brightness(0.7);
   }
    
    .gchome {
      transition: all .4s ease-in-out;
      width: 130px;
      padding-top: 10px;
      margin-left: 60px;
      }
  
  .gchome img {
     width: 130px;
   }
     
   .gchome:hover {
     transform-origin: center;
     transform: scale(95%);
     margin: 20px 10px 20px 60px;
     filter: brightness(0.7);
   }
   
   .reviewinfo {
     width: 50%; 
     display: flex; 
     margin-top: 12px;
     padding-bottom: 8px;
   }
   
   .reviewimg img {
     width: 130%;
     margin-top: 7px;
     margin-bottom: -22px;
   }
   
   .stars {
     width: 25%;
     float: left;
   }
   
   .stars p {
     text-align: center;
    }
    
    .cstars {
      padding-left: 12%;
      width: 25%;
      float: left;
    }
   
   .cstars p {
      text-align: center;
   }
     
     .pstars {
       padding-left: 12%;
       width: 25%;
       float: left;
     }
    
    .pstars p {
       text-align: center;
    }
    
    .infopagehead img {
      width: 95%;
      margin-left: 2.5%;
      margin-bottom: -15px;
    }
    
}
@media only screen and (max-width: 1500px) {
  
  .topcardbox {
   margin-right: 500px;
 }
  
  .gcabout {
    width: 80px;
    margin-left: 100px;
}
  
  .gcabout img {
    width: 80px;
  }
  
  .gcabout:hover {
    margin: 30px 10px 10px 100px;
  }
  
  .gcmembers {
    width: 80px;
    margin-left: 220px;
    margin-top: -20px;
  }
  
  .gcmembers img {
    width: 80px;
  }
 
  .gcmembers:hover {
    margin: 5px 0px 5px 220px;
  }
 
 .gchome {
    width: 80px;
    margin-left: 100px;
    margin-top: -20px;
  }
 
 .gchome img {
    width: 80px;
  }
  
  .gchome:hover {
    margin: 10px 10px 0px 100px;
  }

  .topgraphicbox {
    margin-right: 10%;
  }
  
  .gameinfo .title {
    line-height: 38px;
    margin-top: -10px;
  }     
  
}

@media only screen and (max-width: 1300px) {
 .projcard-tagbox {
   display: none;
  }
  
  .reviewinfo {
    font-size: 20px;
    width: 90%; 
    display: flex; 
    margin-top: 12px;
    padding-bottom: 10px;
  }
  
  .gclogo {
  overflow: hide;
  width: 275px;
  margin-left: 25px; 
  margin-top: 50px;
  background-image: url('/gclogo2.png');
  background-size: contain;
  background-repeat: no-repeat;
  }
  
  .gclogo  img {
      -webkit-transition: all ease 1s;
      -moz-transition: all ease 1s;
      -o-transition: all ease 1s;
      -ms-transition: all ease 1s;
      transition: all ease 1s;
  }
  
  .gclogo img:hover {
      opacity:0;
  }
  
  .gclogoimg {
    width: 100%;
  }
  
  .navbar {
    background-color: #333;
    position: fixed;
    overflow: visible;
    top: 0;
    height: 100%;
    width: 325px;
    z-index: 1000
  }
  
  .gcabout {
         width: 80px;
         margin-left: 60px;
         margin-top: 30px;
      transition: all .4s ease-in-out;
     }
   
   .gcabout img {
     width: 80px;
     padding-left: 0px;
   }
   
    .gcabout:hover {
      transform-origin: center;
      transform: scale(95%);
      margin: 30px 10px 20px 60px;
      filter: brightness(0.7);
    }
     
     .gcmembers {
       transition: all .4s ease-in-out;
       width: 80px;
       padding-top: 10px;
       margin-left: 180px;
       }
   
   .gcmembers img {
      width: 80px;
    }
    
     .gcmembers:hover {
       transform-origin: center;
       transform: scale(95%);
       margin: 5px 10px 5px 180px;
       filter: brightness(0.7);
     }
      
      .gchome {
        transition: all .4s ease-in-out;
        width: 80px;
        padding-top: 10px;
        margin-left: 60px;
        }
    
    .gchome img {
       width: 80px;
     }
       
     .gchome:hover {
       transform-origin: center;
       transform: scale(95%);
       margin: 10px 10px 0px 60px;
       filter: brightness(0.7);
     }
     
  .projcard-container {
     margin-left: 375px;
   }
   
   .topcardbox {
      margin-right: 425px;
    }
}

@media only screen and (max-width: 1024px) {
  
  sub {
    font-size: 20px;
  }
  
  li {
    font-size: 35px;
    line-height: 50px;
    padding-bottom: 40px;
  }

  .navbar {
    background-color: #333;
    position: relative;
    overflow: visible;
    top: 0;
    height: 270px;
    width: 100%;
    border-radius: 50%/0 0 50px 50px;
    z-index: 1000;
  }

  .gclogo {
    overflow: hide;
    width: 250px;
    margin: auto;
    margin-top: 10px;
    background-image: url('/gclogo2.png');
    background-size: contain;
    background-repeat: no-repeat;
  }

  .gclogo  img {
    -webkit-transition: all ease 1s;
    -moz-transition: all ease 1s;
    -o-transition: all ease 1s;
    -ms-transition: all ease 1s;
    transition: all ease 1s;
  }

  .gclogo img:hover {
    opacity:0;
  }

  .gclogoimg {
    width: 100%;
  }

  .projcard-container {
    margin: 90px 0;
    float: left;
  }
  
  .projcard-container,
  .projcard-container * {
    box-sizing: border-box;
  }

  .projcard-container {
    margin-left: auto;
    margin-right: auto;
    width: 100%;
    display: flex; 
    flex-direction: column; 
    margin-left: 30px;
    flex-shrink: 3;
  }
  
  .topcardbox {
    margin-right: 60px;
  }
  
  .projcard-tagbox {
    display: none;
  } 
  
  .gamebox {
    margin-top: 100px; 
    position: relative; 
    height: auto; 
    width: 94%; 
    top: 100px; 
    margin: auto; 
    border-radius: 15px; 
    background-color: #333;
  }

  .gameinfo {
    padding-top: 5px; 
    padding-bottom: 20px; 
    width: 90%; 
    margin: auto; 
    overflow: visible; 
    overflow-wrap: break-word;
  }
 
  .gamegraphic img {
    width: 102%; 
    border-radius: 15px; 
    margin-left: -7px;
  }

  .projcard-title {
    font-size: 55px;
    line-height: 40px;
    letter-spacing: .05px;
    word-spacing: 0.1px;
  }
  
  .projcard-subtitle {
    font-size: 45px;
    line-height: 45px;
  }
  
  .projcard-description {
    font-size: 28px;
    line-height: 30px;
  }

  .title {
    padding-top: 30px;
    font-family: "VT323", sans-serif;
    font-size: 70px;
    line-height: 50px;
    letter-spacing: .05px;
    word-spacing: 0.1px;
  }
  
  .gameinfo p {
    font-size: 35px;
    line-height: 30px;
  }
 
  .card-wrapper {
    padding-bottom: 50px;
  }
  
  .gcabout {
    transition: all .4s ease-in-out;
    position: absolute; 
    width: 80px;
    top: 40px;
    margin-left: 50px;
  }
  
  .gcabout img {
    position: relative;
    width: 80px;
  }
  
  .gcabout:hover {
    transform-origin: center;
    transform: scale(95%);
    margin: 0px 0px 0px 50px;
    filter: brightness(0.7);
  }
  
  .gcmembers {
    transition: all .4s ease-in-out;
    position: absolute;
    width: 80px;
    top: 120px;
    margin-left: 200px;
  }
  
  .gcmembers img {
    position: relative;
    width: 80px;
  } 
  
  .gcmembers:hover {
    transform-origin: center;
    transform: scale(95%);
    margin: -20px 0px 0px 200px;
    filter: brightness(0.7);
  }  
  
  .gchome {
    transition: all .4s ease-in-out;
    position: absolute;
    width: 80px;
    top: 0px;
    margin-left: 700px;
  }    
  
  .gchome img {
    position: relative;
    width: 80px;
    margin-top: 60px;
  }     
  
  .gchome:hover {
    transform-origin: center;
    transform: scale(95%);
    margin: -20px 0px 0px 700px;
    filter: brightness(0.7);
  }   
  
  .topgraphicbox {
    margin-right: 0%;
  }     
  
  .gameinfo p {
    line-height: 50px;
  }     
  
  .gameinfo .title {
    font-size: 100px;
    line-height: 85px;
    margin-top: -10px;
  }     
  
  .gameinfo h5 {
    font-family: "VT323", sans-serif;
    font-size: 45px;
    text-decoration: none;
    line-height: 35px;
    margin-top: 25px;
    margin-bottom: 0px;
  }   
  
  .reviewinfo {
    font-size: 20px;
    width: 50%; 
    display: flex; 
    margin-top: 20px;
    padding-bottom: 20px;
  }
  
  .reviewimg img {
    width: 400px;
    margin-top: 5px;
    margin-bottom: -30px;
  }   
  
  .stars {
    width: 70%;
    margin: auto;
    padding-top: 30px;
    padding-bottom: 90px;
  }    
  
  .stars p {
    text-align: center;
  }      
  
  .cstars {
    width: 70%;
    margin: auto;
    padding-bottom: 90px;
  }
  
  .cstars p {
    text-align: center;
  }       
  
  .pstars {
    width: 70%;
    margin: auto;
  }        
  
  .pstars p {
    text-align: center;
  }
  
  .infopagehead img {
    width: 95%;
    margin-left: 2%;
  }
  
  .abouttext {
    font-size: 35px;
  }
  
}