body {
  background: rgb(30,30,30);
  font-size: 15px;
  font-family: helvetica;
  color: #ffffff;
  margin:0px;
}

nav {
  font-family: "VT323", sans-serif;
  font-size: 22px;
  display: flex;
  gap: 30px;
}

nav a {
  text-decoration: none;
  color: white;
  underline: none;
}

.logo {
  transition: all .4s ease-in-out;
  }
  
.logo:hover {
  transform: scale(92%);
  filter: brightness(0.7);
}

.members {
}

.members:hover {
  color: #33FF44;
}

.about {
}

.about:hover {
  color: #EEFF33;
}

.gameclub {
}

.gameclub:hover {
  color: #FF3333;
}

.errormsg:hover {
  color: white;
  background-color: red;
}

.member {
  display: block;
  padding-top: 380px;
  padding-left: 30px;
  height: 10%;
}

@-webkit-keyframes rotating /* Safari and Chrome */ {
  from {
    -webkit-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  to {
    -webkit-transform: rotate(360deg);
    -o-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
@keyframes rotating {
  from {
    -ms-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -webkit-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  to {
    -ms-transform: rotate(360deg);
    -moz-transform: rotate(360deg);
    -webkit-transform: rotate(360deg);
    -o-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
.rotating {
  -webkit-animation: rotating 2s linear infinite;
  -moz-animation: rotating 2s linear infinite;
  -ms-animation: rotating 2s linear infinite;
  -o-animation: rotating 2s linear infinite;
  animation: rotating 2s linear infinite;
}