---
import games from "../../../../games.json";
import Layout from "../../../layouts/gameclublayout.astro";

export async function getStaticPaths() {
    return games.map(game => ({
        params: { id: game.title.toLowerCase().replace(/ /g, "-") },
        props: { game: game }
    }));
}

const { game } = Astro.props;
---

<Layout title={game.title}>
    <div style="padding-bottom: 50px;">
        <div style="margin-bottom: 50px;">
            <div class="card-wrapper">
                 <div class="topgraphicbox">
                     <div class="gamebox">
                        <div class="gamegraphic"><img src={game.graphic} /></div>
                        <div class="gameinfo">
                            <div class="title">{game.title}</div>
                            <p>{game.description}</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</Layout>