---
import Layout from "../../../layouts/gameclublayout.astro";

export async function getStaticPaths() {
    const games = await Astro.glob("../../../content/games/*.md");

    return games.map(game => ({
        params: {
            slug: game.frontmatter.slug
        },
        props: {
            game
        }
    }));
}

const { frontmatter, Content } = Astro.props.game;
---

<Layout title={frontmatter.title}>
    <div style="padding-bottom: 50px;">
        <div style="margin-bottom: 50px;">
            <div class="card-wrapper">
                <div class="topgraphicbox">
                    <div class="gamebox">
                        <div class="gamegraphic"><img src={frontmatter.graphic} /></div>
                        <div class="gameinfo">
                            <div class="title">{frontmatter.title}</div>
                            <h4>{frontmatter.description}</h4>
                            <p><Content /></p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</Layout>
